<div class="container mt-5" style="max-width: 400px;">
  <h2 class="text-center mb-4">Регистрация</h2>
  
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="fullName" class="form-label">ФИО:</label>
      <input 
        type="text" 
        id="fullName" 
        class="form-control" 
        formControlName="fullName"
        placeholder="Иванов Иван Иванович">
    </div>
    
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input 
        type="email" 
        id="email" 
        class="form-control" 
        formControlName="email"
        placeholder="example@mail.com">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Пароль:</label>
      <input 
        type="password" 
        id="password" 
        class="form-control" 
        formControlName="password"
        placeholder="Введите пароль">
    </div>

    <button 
      type="submit" 
      class="btn btn-success w-100" 
      [disabled]="registerForm.invalid">
      Зарегистрироваться
    </button>
  </form>
</div>