<div class="container mt-4">
  <h2 class="mb-4">Мои бронирования</h2>

  <div class="row">
    @for (booking of bookings$ | async; track booking.id) {
      <div class="col-md-6 col-lg-4 mb-4">
      <a [routerLink]="['/rooms', booking.roomId]" class="text-decoration-none">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> {{ booking.roomName }}</h5>
            <p class="card-text">
                <strong>Начало:</strong> {{ booking.startTime | date:'dd.MM.yyyy HH:mm' }}
            </p>
            <p class="card-text">
                <strong>Конец:</strong> {{ booking.endTime | date:'dd.MM.yyyy HH:mm' }}
            </p>
            <p class="card-text">
              <strong>Цена:</strong> {{ booking.price }} руб.
            </p>
            <p class="card-text">
              <strong>Статус: </strong> 
              <span class="badge" [ngClass]="{
                'bg-warning': booking.status === 'Pending',
                'bg-success': booking.status === 'Confirmed',
                'bg-danger': booking.status === 'Cancelled'
              }">
                {{ booking.status }}
              </span>
            </p>
          </div>
        </div>
      </a>
      </div>
    }
  </div>
</div>